@page "/create/confirm-metadata"
@inject AppState appState

<Creation_Header/>

<MudText Typo="Typo.subtitle1" Class="mt-4">Initial language & exercise type: </MudText>
<div class="d-flex mud-width-full align-center">
    <MudChip Color="Color.Tertiary">@appState.EnumToEnglish()</MudChip>
    <MudChip Color="Color.Primary">@appState.ExerciseType</MudChip>
</div>

<MudText Typo="Typo.subtitle1" Class="mt-2">Title & description: </MudText>
<p>@appState.Title</p>
<p>@appState.Description</p>

<div class="d-flex mud-width-full align-center mt-8">
    <MudText Typo="Typo.subtitle1" Class="mr-2">Topics: </MudText>
    <MudText Typo="Typo.body1" Class="mr-2"> -- list of topics -- </MudText>
</div>

<div class="d-flex mud-width-full align-center mt-8">
    <MudText Typo="Typo.subtitle1" Class="mr-2">Grades: </MudText>
    <MudText Typo="Typo.body1" Class="mr-2"> -- list of grades -- </MudText>
</div>

<p>Thumbnail file name:</p>
<p>@appState.ThumbnailFileName</p>

<MudButton Variant="Variant.Filled" Color="Color.Warning" StartIcon="@Icons.Filled.KeyboardReturn" Href="create/set-metadata">Return to editing</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" EndIcon="@Icons.Material.Filled.Send" Href="create/set-variables">Continue</MudButton>


@code {
    protected override void OnParametersSet() {
        base.OnParametersSet();
        appState.CreationPhase = 2; 
    }



/*

<p></p>
<p>@appState.</p>

 * 

                <MudGrid Class="mt-6 px-4">
                    <MudItem xs="6">
                        <MudText Typo="Typo.subtitle2">Selected topics:</MudText>
                        <MudText Typo="Typo.body2" Class="pl-4">@(string.Join(", ", topicOptions.Select(x=>$"\"{x}\"")))</MudText>
                    </MudItem>
                </MudGrid>
                
                
                <div class="d-flex">
                    <MudRadioGroup T="string" Required="true" RequiredError="Account type is required!">
                        <MudRadio Option="@("Personal")">Personal</MudRadio>
                        <MudRadio Option="@("Professional")">Professional</MudRadio>
                    </MudRadioGroup>
                </div> -->*/
}


