@page "/create/confirm-metadata"
@inject AppState appState

<Creation_Header/>

<MudGrid Justify="Justify.Center" Class="mt-4">
<MudItem xs="8">


<MudGrid Justify="Justify.SpaceBetween" >

<MudSimpleTable Hover="true" Striped="true" Style="width: 100%; overflow-x: auto;" Class="mb-4">
    <thead>
        <tr>
            <th colspan="2"><MudText Typo="Typo.h6">Meta data</MudText></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Initial language & exercise type</td>
            <td>
                <MudChip Color="Color.Tertiary">@appState.EnumToEnglish()</MudChip>
                <MudChip Color="Color.Primary">@appState.ExerciseType</MudChip>
            </td>
        </tr>
        <tr>
            <td>Title</td>
            <td>@appState.Title</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@appState.Description</td>
        </tr>
        <tr>
            <td>Topics</td>
            <td>@(string.Join(", ", appState.topicOptions.Select(x=>$"\"{x}\"")))</td>
        </tr>
        <tr>
            <td>Grades</td>
            <td>@(string.Join(", ", appState.gradeOptions.Select(x=>$"\"{x}\"")))</td>
        </tr>
        <tr>
            <td>Thumbnail</td>
            @{
                if(appState.AutoGenerateThumbnail) {
                            <td>Thumbnail will be auto generated.</td>
                } else {
                    <td>Provided file name: "@(appState.ThumbnailFileName)"</td>
                }
            }
        </tr>
    </tbody>
</MudSimpleTable>

<MudGrid Justify="Justify.SpaceBetween">

    <MudItem >
    <MudButton Variant="Variant.Filled" Color="Color.Warning" StartIcon="@Icons.Filled.KeyboardReturn" Href="create/set-metadata">Return to editing</MudButton>
    </MudItem>

    <MudItem >
        <MudButton Variant="Variant.Filled" Color="Color.Tertiary"  EndIcon="@Icons.Material.Filled.Send" Href="create/set-variables">Continue</MudButton>
    </MudItem>

</MudGrid>

</MudGrid>
</MudItem>

</MudGrid>

@code {
    protected override void OnParametersSet() {
        base.OnParametersSet();
        appState.CreationPhase = 2; 
    }
}